<header class="container-fluid px-0">
    <div class="row">
        <div class="col">
            {% if page.featured %}
                <div class="hero" style="background-image: url('{{ site.baseurl }}/assets/images/60db33f1d68e4a5665cf9d5eae393e3cf5e4b315.png');">
            {% else %}
                <div class="hero" style="background-image: url('{{ site.baseurl }}/assets/images/6d816c5b19a317e78510ac113e8190797211ab0a.png');">
            {% endif %}
            <div class="overlay"></div>
            <h1 class="hero-title">{{ site.title }}</h1>
            </div>
        </div>
    </div>
</header>