
<div class="col-md-6 col-lg-4">
  <a href="{{ include.link }}" class="text-decoration-none">
    <div class="card mb-4 shadow-sm">
      <div class="row g-0">
        <div class="col-12 col-md-8 d-flex align-items-center">
          <img src="{{ include.image }}" class="img-fluid" alt="{{ include.image_alt }}">
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title">{{ include.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
