.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
}

/* header */
  .hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .hero-title {
    position: relative;
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
    filter: drop-shadow(0 0 0.4rem black);
  }

  @media (max-width: 576px) {
    .hero-title {
      font-size: 2rem;
    }
  }

  .author-date {
    color: #666;
    font-style: italic;
  }

  /* template-card */
  .card-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    background-image: inherit;
    background-size: cover;
    filter: brightness(84%);
    z-index: -1;
  }

  .card-cover {
    transition: transform 0.3s ease-in-out;
  }

  .card-cover:hover {
    transform: translateY(-0.3rem);
    filter: drop-shadow(0 0 0.3rem grey);
  }

  .card-cover h3 {
    filter: drop-shadow(0 0 0.3rem black);
  }

  .text-bg-dark {
    filter: contrast(100%);
  }

  .badges-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 0.3rem grey);
  }
  
  /* contenu des pages */
  .content h1,.content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    /* styles pour tous les éléments de titre dans la div de class .content */
    margin-top: 30px;
    margin-bottom: 15px;
  }
  @media (min-width: 720px) {
    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
      /* styles pour tous les éléments de titre dans la div de class .content */
      margin-top: 42px;
      margin-bottom: 21px;
    }
  }

/* footer */
  .footer {
    padding: 1rem 0;
    background-color: #f8f9fa;
    width: 100%;
  }

  .footer-links {
    display: flex;
    gap: 1rem;
  }

  .footer-link {
    text-decoration: none;
    color: #333;
  }

  .footer-text {
    margin-left: 1rem;
    color: #333;
  }

  /* @media (max-width: 767px) {
    .footer {
      position: static;
    }
  } */

  /* Ajouter les icônes Bootstrap Icons */
  .bi {
    display: inline-block;
    vertical-align: -0.125em;
    overflow: visible;
    font-size: 1.25em;
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-right: 0.5em;
  }
